.side-nav {
    width: 230px;
    background-color: #2e3336;
    height: 100vh;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}

.logo {
    max-width: 100%;
    height: 75px;
    margin-bottom: 20px;
}

.nav-link {
    text-decoration: none;
    color: white;
    margin: 8px 0px;
    font-weight: 700;
    letter-spacing: 1.75px;
}

.nav-link:hover {
    cursor: pointer;
}

.body-container {
    position: absolute;
    left: 230px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(51, 51, 51);
    width: calc(100vw - 230px);
}

.title {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 800;
    letter-spacing: 1.5px;
}

.body-content {
    font-size: 16px;
    line-height: 20px;
    max-width: 900px;
    font-weight: 300;
    letter-spacing: 1.5px;
}